*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

input:-webkit-autofill {
    background-color: red !important;
    -webkit-box-shadow: 0 0 0px 1000px #EEEEEE inset;
}

body{
  background-image: linear-gradient(120deg, #EEEEEE, #EEEEEE);
  min-height: 100vh;

}

#cucontainer{
  top: 71px;
  left: 205px;
  position: absolute;
  width: 85%;
  height: 84%;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: center;
  transform: translateY(5%);
  /*box-shadow: 3px 3px 3px 3px #BDBDBD;
  border-radius: 8px*/
}

h2{

	display: flex;
	font-weight: 500;
	text-transform: uppercase;
    animation-name: example;
    animation-duration: 3s;
    animation-fill-mode: both;
}

@keyframes example {
  from {color: white;}
  to {color: black;}
}

#cuinputcontainer{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 70vh;
	align-items: center;
}

.cuinputbox, #curoles{
	display: flex;
	width: 650px;
	padding: 7px;
	border-radius: 4px;
	/*box-shadow: 1px 1px 1px #EEEEEE;*/
	border-style: ridge;
	font-weight: 100;
	justify-content: space-around;
}

.cuinputbox:focus, #curoles:focus {
    outline: none !important;
    border:1px solid #EEEEEE;
}

#cutoggles{
	display: flex;
	justify-content: space-around;
	width: 650px;
	padding: 5px;
	border-radius: 4px;
	/*box-shadow: 2px 2px 2px #BDBDBD;*/
	border-style: groove;
	font-weight: 100;
	margin-top: 5px;
}

.cuswitch{
	width:50%;
	padding: 5px;
	display: flex;
	justify-content: space-around;
}

#cubtns{
	display: flex;
	width: 30%;
	justify-content: space-around;
	margin-top: 5px;
}

.cubtn{
	display: flex;
  width: 100px;
  padding: 5px;
  justify-content: center;
  background: #1E1F4B;
  color: #EEEEEE;
  margin-bottom: 5px;
  border: 2px solid #EEEEEE;
  border-radius: 8px;
  height: 6vh;
  font-size: 15px;
  transition: 0.3s;
  outline: none;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  box-shadow: 3px 3px 3px #BDBDBD;
  cursor: pointer;
}

.cubtn:hover {
  background-color: #EEEEEE;
  color: #1E1F4B;
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  border: 2px solid #1E1F4B; 
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 5px #BDBDBD;
}

.cubtn::after {
  display: none;
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: rgba(30,31,75, 0.3);
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  /* Center the ripple */
  top: 50%;
  left: 50%;
  animation: ripple 1.5s;
  opacity: 0;
}

.cubtn:focus:not(:active)::after {
  display: flex;
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(10);
  }
}

input[type="checkbox"]{
  position: relative;
  width: 40px;
  height: 20px;
  -webkit-appearance: none;
  background: #EEEEEE;
  outline: none;
  border-radius: 10px;
  box-shadow: inset 0 0 5px #BABABA;
  transition: .5s;
}

input:checked[type="checkbox"]{
  background: #1E1F4B;
}

input[type="checkbox"]:after{
  content: '';
  position: absolute;
  width: 20px;
  height:20px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: #FFFFFF;
  transform: scale(1.1);
  box-shadow: 0 2px 5px #BABABABA;
  transition: .5s;
  cursor: pointer;
}

input:checked[type="checkbox"]:after{
  left: 20px;
}