<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Seqelstring RPA Tool</title>

		<!-- BOOTSTRAP CDN **REQUIRES INTERNET** -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"><!-- Latest compiled and minified CSS -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script><!-- jQuery library -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script><!-- Popper JS -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script><!-- Latest compiled JavaScript -->

{#		<link rel="stylesheet" href="css/create_process_form.css">#}
            <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/create_process_form.css') }}">
		<!-- Adding master page -->
	 <!--  <script src="jquery-lib.js"></script>
		<script type="text/javascript" src="jquery-3.4.1.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){ 
			$.get("master_page.html", function(data) {
				$("#header").html(data);
				});
		});
		</script> -->
</head>
<body>
<!-- <div id="header"></div> -->
	<div class=" container-fluid col-lg-8" id="create_process_container">
		<form>
			<div id="processform">
				<h2>Create Process</h2>
				<div id="inputcontainer">
					<div id="process_name">
						<label for="pname" id="cuusername">Enter Process Name:<span style="color:red;">*</span></label>
						<input type="text" id="pname" class="cuinputbox" placeholder="Enter Process Name" required>
					</div>
					<div id="scheduling">
						<label for="schedule">Scheduling:<span style="color:red;">*</span></label>
						<input type="text" id="schedule" class="cuinputbox" required>
					</div>
					<div id="node">
						<label id="cuuserrole" for="curoles">Node:</label>
						<select name="city" id="curoles">
							<option value="1">Node 1</option>
							<option value="2">Node 2</option>
							<option value="3">Node 3</option>
						</select>
					</div>	
					<div id="cubtns">
						<button class="cubtn">Save</button>
						<button class="cubtn">Cancel</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</body>
</html>

