<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Seqelstring RPA Tool</title>

	<!-- <script src="JQuery/jquery.min.js"></script> -->

	<!-- BOOTSTRAP CDN **REQUIRES INTERNET** -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"><!-- Latest compiled and minified CSS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script><!-- jQuery library -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script><!-- Popper JS -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script><!-- Latest compiled JavaScript -->

{#	<link rel="stylesheet" href="css/create_user_form.css">#}
            <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/create_user_form.css') }}">

	<!-- Adding master page -->
	<!-- <script src="jquery-lib.js"></script> -->
	<!-- <script type="text/javascript" src="JQuery/jquery-3.4.1.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){ 
	$.get("master_page.html", function(data) {
	  $("#header").html(data);
	  });
	});
	</script> -->
	  
</head>

<body>
	<div class="container" id="cucontainer">
		<h2>Create User</h2>
		<form>
			<div id="cuusername">
				<label for="email">Username:</label>
				<input type="text" class="cuinputbox" placeholder="Name">		
			</div>
		</form>
	</div>






		<!-- <div id="header"></div> -->
		<!-- <div id="cucontainer">

			<h2>Create User</h2>
			<div id="cuinputcontainer">
				<div id="cuusername">
					<h5>User Name</h5>
					<input type="text" class="cuinputbox" placeholder="Name">		
				</div>

				<div id="cumobileno">
					<h5>Mobile Number</h5>
					<input type="Number" class="cuinputbox" placeholder="Mobile No">
				</div>
				<div id="cuemailid">
					<h5>Email Id</h5>
					<input type="Email" class="cuinputbox" placeholder="Email Id">
				</div>
				<div id="cupwd">
					<h5>Password</h5>
					<input type="password" class="cuinputbox" placeholder="Password">
				</div>
				<div id="cuconfirmpwd">
					<h5>Confirm Password</h5>
					<input type="password" class="cuinputbox" placeholder="Confirm Password">
				</div>
				<div id="cuuserrole">
					<h5>Role</h5>
					<select id="curoles">
					  <option value="0">Please select a role:</option>
					  <option value="1">Super-Admin</option>
					  <option value="2">Administrator</option>
					  <option value="3">Developer</option>
					  <option value="4">Operator</option>
					  <option value="5">Viewer</option>
					</select>
				</div>
				<div id="cutoggles">
					<div class="cuswitch">
					  <h5>Email Notification</h5>
					  <input type="checkbox">
					</div>
					<div class="cuswitch">
					  <h5>SMS Notification</h5>
					  <input type="checkbox">
					</div>
				</div>
			</div>

			<div id="cubtns">
				<button class="cubtn">Save</button>
				<button class="cubtn">Cancel</button>
			</div>
			
		</div>
		
 -->
		
</body>
</html>