<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Create User</title>
  <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
</head>
<body>
<script type="text/javascript" src="{{ url_for('static',filename='scripts/alert.js') }}"></script>
<div class="wrapper">
    <div class="title">
      Login
    </div>
    <form action="/" method="POST">
       <div class="inputfield pad-all">
          <label>Email</label>
          <input type="text" class="input" name="email">
       </div>
       <div class="inputfield pad-all">
          <label>Password</label>
          <input type="password" class="input" name="password">
       </div>
      <div class="inputfield pad-all">
        <input type="submit" value="Login" class="btn" onclick="validate('User Created')">
      </div>
    </form>
    </div>
</div>
</body>
</html>