<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Create User</title>
  <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
</head>
<body>
<script type="text/javascript" src="{{ url_for('static',filename='scripts/alert.js') }}"></script>
<div class="wrapper">
    <div class="title">
      Enter OTP
    </div>
{#    <div style="text-align: center;">#}
    <form action="/otp/{{ email }}" method="POST">
       <div class="inputfield pad-all">
          <label>Enter mobile OTP</label>
          <input type="text" class="input" name="m_otp">
       </div>
       <div class="inputfield pad-all">
        <label>Enter email OTP</label>
        <input type="text" class="input" name="e_otp">
     </div>
      <div class="inputfield pad-all">
        <input type="submit" value="Submit" class="btn" onclick="validate('User Created')">
      </div>
    </form>
    </div>
</div>
</body>
</html>