<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- to render all kinds of pages  -->

	<!-- BOOTSTRAP CDN **REQUIRES INTERNET** -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"><!-- Latest compiled and minified CSS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script><!-- jQuery library -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script><!-- Popper JS -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script><!-- Latest compiled JavaScript -->

{#	<link rel="stylesheet" href="css/project_page_1.css">#}
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/project_page_1.css') }}">


	<!-- Adding master page -->
	<!-- <script src="jquery-lib.js"></script> -->
	<!-- <script type="text/javascript" src="jquery-3.4.1.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
	$.get("master_page.html", function(data) {
	  $("#header").html(data);
	  });
	});
	</script> -->
</head>
<body>
	<!-- <div id="header"></div> -->
	<div class=" container-fluid col-lg-8" id="project_container">
		<a href="create_project_form_1.html" id="create_project"><button type="text" id="projbutton">Create Project</button></a>

		<div>
			<!-- Project tab1 -->
			<div class="projectstabs" tab-id="tab1" onclick="location.href='/processpage'" style="cursor: pointer">
				<div class="projdesc">
					<h5>Project Name</h5>
					<p>Project 1</p>				
				</div>
				<div class="projactions">
					<h5>Actions</h5>
					<div class="projicons">
						<a href="#"><i class="fa fa-edit">Edit</i></a>
						&nbsp &nbsp
						<a href="#"><i class="fa fa-trash-o">Delete Project</i></a>
					</div>
				</div>
			</div>
		</div>

		<!-- Project tab1 -->
			<!-- <div class="projectstabs" tab-id="tab2" onclick="location.href='process_page.html'"> -->
			<div class="projectstabs" tab-id="tab2">
				<div class="projdesc">
					<!-- <h5><a href="create_format_form.html" style="text-decoration: none; color: black;">Project Name</a></h5> -->
					<h5>Project Name</h5>
					<p>Project 1</p>				
				</div>
				<div class="projactions">
					<h5>Actions</h5>
					<div class="projicons">
						<a href="#"><i class="fa fa-edit">Edit</i></a>
						&nbsp &nbsp
						<a href="#"><i class="fa fa-trash-o">Delete Project</i></a>
					</div>
				</div>
			</div>
		</div>

	</div>
	
</body>
</html>