<!DOCTYPE html>
<html>
<head>
    <style>
        #toolbar {
        /*width: 100%;*/
        height: 40px;
        background-color: #201E4D;
       
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        }

        #toolbar a {
        margin: 24px;
        color: aliceblue;
        }

        #toolbar a img {
        height: 20px;
        }

        #toolbar a span {
        margin-left: 8px;
        }
    </style>
</head>
<body>
    <div id="toolbar" class="container-fluid col-lg-12">
        <a href=""><img src="./assets/icons8-new-file-30.png" alt="" /><span>New</span></a>
        <a href=""><img src="./assets/icons8-clear-symbol-48.png" alt="" /><span>Clear</span></a>
        <a href=""><img src="./assets/icons8-record-64.png" alt="" /><span>Record</span></a>
        <a href=""><img src="./assets/icons8-play-64.png" alt="" /><span>Run</span></a>
        <a href=""><img src="./assets/edit-32.ico" alt="" /><span>Edit</span></a>
    </div>

</body>
</html>



